*.h5
classical_exp_in_silico/depth_info.pickle
classical_exp_in_silico/old_functions_3.py
classical_exp_in_silico/save_functions.py
classical_exp_in_silico/save_functions_2.py
classical_exp_in_silico/save_functions_3.py
classical_exp_in_silico/save_functions_4.py

.env
classical_exp_in_silico/functions/__pycache__
classical_exp_in_silico/functions/__pycache__/*
classical_exp_in_silico/run_pipeline/__pycache__
classical_exp_in_silico/run_pipeline/__pycache__/*
*.pyc
classical_exp_in_silico/objects/shareStim_NN13/
classical_exp_in_silico/plots/
*.csv
Luca/
surroundmodulation/utils/gratings.py
experiments_convnext/
experiments_data/convnext/*

/surroundmodulation/analyses.py
