*.h5
classical_exps/depth_info.pickle
classical_exps/old_functions_3.py
classical_exps/save_functions.py
classical_exps/save_functions_2.py
classical_exps/save_functions_3.py
classical_exps/save_functions_4.py

.env
classical_exps/functions/__pycache__
classical_exps/functions/__pycache__/*
classical_exps/run_pipeline/__pycache__
classical_exps/run_pipeline/__pycache__/*
*.pyc
classical_exps/objects/shareStim_NN13/
classical_exps/plots/
*.csv
Luca/
surroundmodulation/utils/gratings.py
experiments_convnext/
experiments_data/convnext/*

/surroundmodulation/analyses.py
