deeplake
torch
torchvision
torchaudio
deeplake[enterprise]
wandb
moviepy
imageio
tqdm
statsmodels
param==1.5.1
git+https://github.com/sinzlab/nnvision.git#egg=nnvision
git+https://github.com/MathysHub/featurevis.git#egg=featurevis
git+https://github.com/CSNG-MFF/imagen.git#egg=imagen